GitServed.code-workspace
GitServe.code-workspace
*.zip
*.dll
*.exe
PSScriptAnalyzerSettings.psd1

# Ignore test files
/Scratch/

# ignore common binaries andartifact paths
# /dist
# /out
# /Release
node_modules

# common "binaries" or non-code artifacts
*.{exe,dll,zip}
*.{docx,xlsx,pbix,pbip}

# Images
*.{png,gif}

# other unwanted text files
*.{log,csv,json,tmp,txt}
