GitServed.code-workspace
GitServe.code-workspace
PSScriptAnalyzerSettings.psd1

# Ignore test files
Scratch/

# ignore common binaries and artifact paths
# /dist
# /out
# /Release

# node/js
node_modules/
.next/

# common "binaries" or non-code artifacts
*.{exe,dll,zip}
*.{docx,xlsx,pbix,pbip}

# Images
*.{png,gif}

# other unwanted text files
*.{log,csv,json,tmp,txt}

# cloned pwsh module
app-gitserve/

# this is already ignored, but listed to as explicit
app-front/node_modules
app-front/.next

# always exclude filetypes
*.log
*.dll
*.zip

# other:
# Scratch/